# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.DS_Store
.vscode
src/daemonworker/daemonworker
src/daemonworker/storage.db
config
templates/daemonworker/kvmregistry/registry.db*
templates/daemonworker/kvmregistry/kvmregistry
devops.cfg
